<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625678813452-sg65q7gigstckt51tlu8ssm0er823p9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625678813452-sg65q7gigstckt51tlu8ssm0er823p9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDNhq9FvLnAIFoKgBOMKdr9oH_u68H2C68</string>
	<key>GCM_SENDER_ID</key>
	<string>625678813452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>singh.nitin-org.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-d4db3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-d4db3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625678813452:ios:f368ea76f9835ec5aa2129</string>
</dict>
</plist>